#body {
    background-color: #030406;
    color: white;
}

h1 {
    background-color: #030406;
    color: white;
}

p {
    font-size: 16px;
}

a {
    cursor: pointer;
}


.weather-data {
    background-color: #030406;
    color: white;
}

#weather-icon {
    position: relative;
    top: -5px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#temp {
    font-size: 30px;
}

#time, #day {
    width: auto;
}

#forecast-options {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.padding-t-s {
    padding-top: 10px;
}

.padding-t-m {
    padding-top: 25px;
}

.padding-b-m {
    padding-bottom: 25px;
}

.padding-r-s {
    padding-right: 10px;
}

.padding-l-s {
    padding-left: 10px;
}

.padding-s {
    padding: 10px;
}

.padding-m {
    padding: 25px;
}

.margin-s {
    margin: 10px;
}

.margin-0 {
    margin: 0 !important;
}

.margin-auto {
    margin: auto;
}
